.filter {
  position: relative;
}

.badge-alert {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  right: -6px;
  top: -6px;
  background: red;
  z-index: 5;
}
